<p id="notice"><%= notice %></p>


<div class="index-container">

  <div class="cards-index">
    <% @coffeehouses.each do |coffeehouse| %>
        <div class="card-index-infos d-flex justify-content-between">
          <div class="card-index-text">
            <%= link_to coffeehouse do %>
              <h3><strong><%= coffeehouse.name %></strong></h3>
            <% end %>
                <p><a href="#" class="card-index-benef" data-toggle="modal" data-target=".bd-example-modal-lg"></a></p>
            </div>
        </div>
      <% end %>
  </div>
    <div class="map-container" style="position: sticky; top: 50px;">
      <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        class="map"
      >
      </div>
    </div>
</div>



<div class="card mb-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img src="..." class="card-img-top" alt="...">
</div>
